<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">发送信息</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">

                            <div *ngIf="receiver">
                                <div class="form-group">
                                    <input type="text" class="form-control" value="{{ receiver.id }}"
                                           placeholder="receiver_id">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" value="{{ receiver.name }}"
                                           placeholder="name">
                                </div>
                            </div>
                            <div class="form-group">
                            <textarea class="form-control" [(ngModel)]="content" name="messageBody"
                                      placeholder="message here"> </textarea>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="row">

                                <ngx-dropdown>
                                    <ngx-dropdown-toggle>
                                        <button type="button" class="btn btn-primary"> 选择附件类型</button>
                                    </ngx-dropdown-toggle>
                                    <ngx-dropdown-menu>
                                        <ul class="vertical-list">
                                            <li>
                                                <button type="button" (click)="chooseAttachmentType('Story')">图文信息</button>
                                            </li>
                                            <li>
                                                <button type="button" (click)="chooseAttachmentType('University')">高校简介</button>
                                            </li>
                                        </ul>
                                    </ngx-dropdown-menu>
                                </ngx-dropdown>
                            </div>
                            <div class="row">
                                <ngx-select [filterable]="false"
                                            [label]="'附件'"
                                            [options]="options"
                                            (change)="ngx_change($event)" >
                                </ngx-select>
                            </div>
                        </div>
                    </div>
                    <div class="row col-xl-9">
                        <button type="submit" class="btn btn-success" (click)="sendMessage($event)">Send</button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>