<!--major list -->
<div class="row" *ngIf="skycode">
    <ba-card class="col-xs-6" title="skycode" baCardClass="traffic-panel medium-card">
        <div class="info">
           <div class="name"> {{ skycode.name }}</div>
            <qr-code [value]="skycode.dsin" [size]="150"></qr-code>
        </div>
    </ba-card>

    <ba-card class="col-xs-6" title="skycode" baCardClass="traffic-panel medium-card">
        <div class="info">

        </div>
    </ba-card>
</div>

<div class="row">
    <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12"
             title="skycode 学生列表" baCardClass="traffic-panel large-card">
        <ba-students-list
                [limit]="'20'"
                [dsin]="skycode_dsin">
        </ba-students-list>
    </ba-card>
</div>

