<ba-card class="col-xlg-6 col-xl-6 col-lg-6 col-sm-6 col-xs-6"
         title="用户基本信息" baCardClass="traffic-panel medium-card">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputFirstName">First Name</label>
                <input type="text" class="form-control" value="{{student.user.name}}" id="inputFirstName">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputLastName">cell</label>
                <input type="text" class="form-control" id="inputLastName" value="{{student.user.cell}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputFirstName">identity_type</label>
                <input type="email" class="form-control" id="inputEmail" value="{{student.dsin}}">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputWebsite">id</label>
                <input type="text" class="form-control" id="inputWebsite" value="{{student.province}}">
            </div>
        </div>
    </div>

    <div class="row">
        <tag-input
                [(ngModel)]='itemsAsObjects'
                (onAdd)="onTagAdd($event)"
                (onRemove)="onTagRemove($event)"
                theme='bootstrap'>
        </tag-input>
    </div>
</ba-card>
