<div *ngIf="user">
    <div class="row">
        <ba-student-info [user]="user"></ba-student-info>
    </div>
    <div class="row col-xlg-4 col-lg-4">
        <ngx-toolbar
                [menu]="toolbarMenu"
                (menuClick)="menuClicked($event)">
        </ngx-toolbar>
        <!--<button class="btn btn-primary" (click)="show_message_modal()">发送消息</button>-->
    </div>
    <div class="row">
        <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12"
                 title="消息列表" baCardClass="large-card">
            <ba-messages-list [message_type]="'PointMessage'"></ba-messages-list>
        </ba-card>
    </div>
    <div>
        <ba-send-messages [receiver_id]="user.id"
                          [message_type]="'PointMessage'"
                          (sendMessageOut)="receiveChild($event)"
                          #message_component>
        </ba-send-messages>
        <simple-notifications></simple-notifications>
    </div>
</div>






