<div *ngIf="student">
    <div class="row">
        <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-xs-12"
                 title="用户基本信息" baCardClass="traffic-panel medium-card">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputFirstName">First Name</label>
                        <input type="text" class="form-control" value="{{student.name}}" id="inputFirstName">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName">cell</label>
                        <input type="text" class="form-control" id="inputLastName" value="{{student.cell}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputFirstName">identity_type</label>
                        <input type="email" class="form-control" id="inputEmail" value="{{student.identity_type}}">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputWebsite">id</label>
                        <input type="text" class="form-control" id="inputWebsite" value="{{student.id}}">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" (click)="showChildModal()">发送消息</button>
        </ba-card>

    </div>
    <div class="row">
        <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12"
                 title="消息列表" baCardClass="large-card">
            <ba-messages-list [messages]="messages"></ba-messages-list>

        </ba-card>
    </div>

    <div>
        <point-message [student]="student" (sendMessageOut)="receiveChild($event)" #pointmessage></point-message>
        <simple-notifications></simple-notifications>

    </div>


</div>






