<div *ngIf="student">
    <div class="row">
        <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-xs-12"
                 title="用户基本信息" baCardClass="traffic-panel medium-card">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputFirstName">First Name</label>
                        <input type="text" class="form-control" value="{{student.name}}" id="inputFirstName">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName">cell</label>
                        <input type="text" class="form-control" id="inputLastName" value="{{student.cell}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputFirstName">identity_type</label>
                        <input type="email" class="form-control" id="inputEmail" value="{{student.identity_type}}">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputWebsite">id</label>
                        <input type="text" class="form-control" id="inputWebsite" value="{{student.id}}">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" (click)="show_story_message_modal()">发送图文消息</button>
            <button class="btn btn-primary" (click)="show_university_message_modal()">发送学校推荐</button>
        </ba-card>

    </div>
    <div class="row">

        <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12"
                 title="消息列表" baCardClass="large-card">
            <ba-messages-list [messages]="messages"></ba-messages-list>

        </ba-card>
    </div>

    <div>
        <ba-send-point-messages [student]="student" [options]="storyOptions" [attachment_type]="'Story'" (sendMessageOut)="receiveChild($event)" #story_message></ba-send-point-messages>
        <ba-send-point-messages [student]="student" [options]="universityOptions" [attachment_type]="'University'" (sendMessageOut)="receiveChild($event)" #university_message></ba-send-point-messages>
        <simple-notifications></simple-notifications>

    </div>


</div>






