<div class="row">
    <ba-card class="col-xs-9" title="story" baCardClass="with-scroll medium-card">

        <button type="button" (click)="openStoriesDrawer()"> 打开图文列表</button>
        <button type="button" (click)="openImageUploaderDrawer()"> 打开学校相册</button>


        <!--<button type="button" (click)="openMajorsDrawer()"> 打开专业列表</button>-->
        <!--<button type="button" (click)="openStudentDrawer()"> 学生列表(已选 {{ selected_students.length}} 人)</button>-->

        <!--<form [formGroup]="messageForm" (ngSubmit)="sendNotificationMessage($event)">-->
            <!--<div class="form-group">-->
                <!--<input formControlName="content" type="text" class="form-control" placeholder="title">-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
            <!--&lt;!&ndash;<quill-editor #content formControlName="content"></quill-editor>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<button type="submit" class="btn btn-success">create story</button>-->
        <!--</form>-->

        <div>
            <textarea class="form-control" [(ngModel)]="content" name="content" placeholder="message here"> </textarea>
            <button type="submit" class="btn btn-success" (click)="onSendNotificationMessage()">发送消息</button>
        </div>

    </ba-card>


    <!--<ba-card class="col-xs-4" title="发送学生列表" baCardClass="with-scroll medium-card">-->
        <!--<div class="panel panel-success">-->
            <!--<div class="panel-heading">-->
                <!--学生列表-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<ul class="list-group"-->
                    <!--dnd-sortable-container-->
                    <!--[sortableData]="selected_students">-->
                    <!--<li *ngFor="let item of selected_students; let i = index"-->
                        <!--class="list-group-item"-->
                        <!--[dragData]="item"-->
                        <!--dnd-sortable-->
                        <!--(onDragSuccess)="onDragSuccess($event)"-->
                        <!--(onDragStart)="onDragStart($event)"-->
                        <!--(onDragOver)="onDragOver($event)"-->
                        <!--(onDragEnd)="onDragEnd($event)"-->
                        <!--(onDropSuccess)="onDropSuccess($event)"-->
                        <!--[sortableIndex]="i"-->
                    <!--&gt;{{item.nickname}}-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</ba-card>-->

    <!--<ba-card class="col-xs-4" title="图文列表" baCardClass="with-scroll medium-card">-->
        <!--<div class="panel panel-success">-->
            <!--<div class="panel-heading">-->
                <!--图文列表-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<ul class="list-group"-->
                    <!--dnd-sortable-container-->
                    <!--[sortableData]="attachments">-->
                    <!--<li *ngFor="let item of attachments; let i = index"-->
                        <!--class="list-group-item"-->
                        <!--[dragData]="item"-->
                        <!--dnd-sortable-->
                        <!--(onDragSuccess)="onDragSuccess($event)"-->
                        <!--(onDragStart)="onDragStart($event)"-->
                        <!--(onDragOver)="onDragOver($event)"-->
                        <!--(onDragEnd)="onDragEnd($event)"-->
                        <!--(onDropSuccess)="onDropSuccess($event)"-->
                        <!--[sortableIndex]="i">-->
                        <!--{{item.name || item.title}}-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</ba-card>-->
</div>

 <!--image uploader tmpl -->
<template #imageUploaderTmpl>
    <div class="row">
        <ba-card class="col-xs-12"
                 title="上传学校相册" baCardClass="traffic-panel large-card">
            <ba-images-uploader
                    (onStateChanged)="onPhotoSelected($event)"
            ></ba-images-uploader>
        </ba-card>
    </div>
</template>

<!--&lt;!&ndash; majors tmpl &ndash;&gt;-->
<!--<template #majorsTmpl>-->
    <!--<div class="row">-->
        <!--<ba-card class="col-xs-12"-->
                 <!--title="专业列表" baCardClass="traffic-panel large-card">-->
            <!--<ba-majors-list-->
                    <!--[university_dsin]="university.dsin"-->
                    <!--[columns]="['name', 'choose']"-->
                    <!--(onActivateChanged)="onMajorChoose($event)">-->
            <!--</ba-majors-list>-->

        <!--</ba-card>-->
    <!--</div>-->
<!--</template>-->

<!-- stories tmpl -->
<template #storiesTmpl>
    <div class="row">
        <ba-card class="col-xs-12" title="图文列表" baCardClass="traffic-panel large-card">
            <ba-story-list
                    [columns]="['name', 'title', 'choose']"
                    (onActivateChanged)="onStoriesSelected($event)">
            </ba-story-list>
        </ba-card>
    </div>

</template>


<!--&lt;!&ndash; students tmpl &ndash;&gt;-->
<!--<template #studentsTmpl>-->
    <!--<div class="row">-->
        <!--<ba-card class="col-xs-12" title="学生列表" baCardClass="traffic-panel large-card">-->
            <!--<ba-students-list-->
                    <!--[dsin]="university.dsin"-->
                    <!--[columns]="['id', 'nickname', 'choose']"-->
                    <!--[selected]="selected_students"-->
                    <!--(onChanged)="onStudentSelected($event)">-->
            <!--</ba-students-list>-->

        <!--</ba-card>-->
    <!--</div>-->
<!--</template>-->