<div class="row">
    <ba-card class="col-xs-12"
             title="story" baCardClass="with-scroll large-card">
        <button type="button" class="btn-primary" (click)="openImageUploaderDrawer()"> 打开学校相册 </button>

        <form [formGroup]="major_form" (ngSubmit)="update_major($event)">
            <div class="form-group">
                <input formControlName="name" type="text" class="form-control" placeholder="name">
            </div>
            <div class="form-group">
                <quill-editor #content formControlName="content"></quill-editor>
            </div>
            <button type="submit" class="btn btn-success">create story</button>
        </form>
    </ba-card>
</div>

<!-- image uploader tmpl -->
<template #imageUploaderTmpl>
    <div class="row">
        <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12"
                 title="上传学校相册" baCardClass="traffic-panel large-card">
            <ba-images-uploader
                    (onStateChanged)="onPhotoSelected($event)"
                    [dsin]="university_dsin">
            </ba-images-uploader>
        </ba-card>
    </div>
</template>

<!--&lt;!&ndash; major tmpl &ndash;&gt;-->
<!--<template #majorsTmpl>-->
    <!--<div class="row">-->
        <!--<ba-card class="col-xs-12"-->
                 <!--title="专业列表" baCardClass="traffic-panel large-card">-->
        <!--</ba-card>-->
    <!--</div>-->
<!--</template>-->