<ngx-datatable
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="count"
        [offset]="offset"
        [limit]="limit"
        (page)='onPage($event)' >

    <!-- index -->
    <ngx-datatable-column name="index" [maxWidth]="100">
        <template let-column="column" ngx-datatable-header-template>
            #序号
        </template>
        <template let-value="value" let-row="row" ngx-datatable-cell-template>
            {{ row['$$index'] }}
        </template>
    </ngx-datatable-column>

    <!-- student -->
    <!--<ngx-datatable-column name="student-name" [maxWidth]="200">-->
        <!--<template let-column="column" ngx-datatable-header-template>-->
           <!--学生-->
        <!--</template>-->
        <!--<template let-value="value" let-row="row"  ngx-datatable-cell-template>-->
            <!--{{row.student.nickname}}-->
        <!--</template>-->
    <!--</ngx-datatable-column>-->

    <!-- university -->
    <!--<ngx-datatable-column name="student-name" [maxWidth]="200">-->
        <!--<template let-column="column" ngx-datatable-header-template>-->
           <!--高校-->
        <!--</template>-->
        <!--<template let-value="value" let-row="row"  ngx-datatable-cell-template>-->
            <!--{{row.university.name}}-->
        <!--</template>-->
    <!--</ngx-datatable-column>-->

    <!-- content -->
    <ngx-datatable-column name="content">
        <template let-column="column" ngx-datatable-header-template>
            信息内容
        </template>
        <template let-value="value" let-row="row"  ngx-datatable-cell-template>
            {{row['content']}}
        </template>
    </ngx-datatable-column>

    <!-- created_at -->
    <ngx-datatable-column name="created_at" [maxWidth]="200">
        <template let-column="column" ngx-datatable-header-template>
            发布时间
        </template>
        <template let-value="value" let-row="row"  ngx-datatable-cell-template>
            {{row['created_at'] | date:'y-M-d hh:mm'}}
        </template>
    </ngx-datatable-column>

    <!--attachment-->
    <!--<ngx-datatable-column name="attachment_type" [maxWidth]="200">-->
        <!--<template let-column="column" ngx-datatable-header-template>-->
            <!--附件-->
        <!--</template>-->
        <!--<template let-value="value" let-row="row"  ngx-datatable-cell-template>-->
            <!--<div *ngIf="row['attachment_id'] ">-->
                <!--<a [routerLink]="['./', row['attachment_id']]"> {{row['attachment_type']}}</a>-->
            <!--</div>-->
        <!--</template>-->
    <!--</ngx-datatable-column>-->


</ngx-datatable>
